<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<script>
function validateForm() {
    var x = (new Date(document.forms["myForm"]["alkupvm"].value)).getTime();
    var y = (new Date(document.forms["myForm"]["loppupvm"].value)).getTime();

    console.log(document.forms["myForm"]["alkupvm"].value, " x ",x );
    console.log(document.forms["myForm"]["loppupvm"].value," y ",y );
    if ( x <= 0 || y <= 0 || y <= x ) {
        alert(" Incorrect time stamp or range ");
        return false;
    }
} 
</script>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>stocks.db</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
  </head>
<h1>Stocks</h1>
<table>
<th width="25%">CompanyName</th>
<th width="25%">Ticker</th>
<th width="25%">IndustryField</th>
</tr>
</thead>
{% for row in data %}
<tr>
{% for col in row %}
<td>{{ col }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
<br>

<p> Define the period to see share changes </p> 
<form action="/showShares/" method="post" name="myForm" onsubmit="return validateForm()">
  Start date<br>
  <input type="text" name="alkupvm" value="yyyy-mm-dd" required>
  <br>
  End date<br>
  <input type="text" name="loppupvm" value="yyyy-mm-dd" required>
  <br><br>
  <input type="submit" value="Submit">
</form> 

</html>
